<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Agamotto-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Agamotto-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Agamotto-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Agamotto-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AgamottoDemo-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AgamottoDemo-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AgamottoDemo-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AgamottoDemo-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>072628221E70E49800511F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A547D91E7C43FA00A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A547E61E7C44A400A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A5481D1E7C4A6B00A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A548431E7C4B2900A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A548611E7C4CF300A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A5486C1E7C4D6E00A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DB3CB91E713B420089F7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
